/* 首页背景 */
.layout_index {
  background: linear-gradient(rgba(255,255,255,0.1), rgba(255,255,255,0.1)), url('/images/1.png');
  background-size: cover;
}

/* 文章页背景 */
.layout_post>#post {
  background: linear-gradient(rgba(255,255,255,0.1), rgba(255,255,255,0.1)), url('/images/kdqs.png');
  background-size: cover;
}

/* 所有页面背景 */
#aside_content .card-widget,
#recent-posts>.recent-post-item,
.layout_page>div:first-child:not(.recent-posts),
.layout_post>#page,
.layout_post>#post,
.read-mode .layout_post>#post {
  background: rgba(255,255,255,0.1);
}